mixin header()
  header(class!=attributes.class)
    div(class='wrapper')
      div(class='layout layout--middle') 
        div(class='layout__item 1/2')
          h2.last
            a(href="/") Madtec
        div(class='layout__item 1/2')
          div(class='menu-button text--right')
            span(class="fa fa-navicon fa-2x")
      if block
        block

