include header
extends layout

block content

  include menu

  div(class='pusher band--full')

    +header(class='band--full band--highlight pv--') 
      div.tagline
        p personas, ideas, innovacion
        h1(class='text--uppercase') tu negocio necesita un heroe
        p app, movil, e-commerce


    main
      section(class='pv++' id="services")
        div(class='wrapper')
          div(class='section-header mb++')
            h2(class='section-header__title') servicios
            p conoce lo que ofrecemos
          nav
            ul(class='layout')
              li(class='layout__item lap-1/2 desk-1/5')
                div(class='block pb+ desk-pb0 text--center')
                  div(class='block__img')
                    a(href="#")
                      img(class='block__image' src="/images/image.jpg")
                  div(class='block__body')
                    div(class='text--highlight')
                      h3(class='text__title') analisis
                      hr(class='line line--dark') 
                      p Negocio
                      p Estrategia
              li(class='layout__item lap-1/2 desk-1/5')
                div(class='block pb+ desk-pb0 text--center')
                  div(class='block__img')
                    a(href="#")
                      img(class='block__image' src="/images/image.jpg")
                  div(class='block__body')
                    div(class='text--highlight')
                      h3(class='text__title') creación
                      hr(class='line line--light-red') 
                      p Branding
                      p Contenido
              li(class='layout__item lap-1/2 desk-1/5')
                div(class='block pb+ desk-pb0 text--center')
                  div(class='block__img')
                    a(href="#")
                      img(class='block__image' src="/images/image.jpg")
                  div(class='block__body')
                    div(class='text--highlight')
                      h3(class='text__title') desarrollo
                      hr(class='line line--red') 
                      p Funcionalidad
                      p Multi-plataforma
              li(class='layout__item lap-1/2 desk-1/5')
                div(class='block pb+ desk-pb0 text--center')
                  div(class='block__img')
                    a(href="#")
                      img(class='block__image' src="/images/image.jpg")
                  div(class='block__body')
                    div(class='text--highlight')
                      h3(class='text__title') social
                      hr(class='line line--yellow') 
                      p Conectar
                      p Buscar 
              li(class='layout__item lap-1/2 desk-1/5')
                div(class='block text--center')
                  div(class='block__img')
                    a(href="#")
                      img(class='block__image' src="/images/image.jpg")
                  div(class='block__body')
                    div(class='text--highlight')
                      h3(class='text__title') gestión
                      hr(class='line line--blue') 
                      p Seguridad
                      p Mantenimiento


      section(class='band--dark pv++' id="about")
        div(class='wrapper wrapper--small')
          div(class='section-header mb++')
            h2(class='section-header__title') quienes somos
            p conocenos mas de cerca
          div(class='text--center') 
            h4 en que creemos
            p 
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            h4 que hacemos
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            h4 como trabajamos
            p(class='last') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      section(class='pv++' id="cases")
        div(class='wrapper')
          div(class='section-header mb++')
            h2(class='section-header__title') casos de estudio
            p lo que hemos construido
         
          ul(class='list-bare')
            li
              div(class='layout')
                div(class="layout__item palm-1/1 lap-and-up-1/2")
                  div(class='text--center lap-and-up-text--left')
                    h4 El molar de rus
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  a(class="link--inline" href="#") saber mas ...
                div(class="layout__item palm-1/1 lap-and-up-1/2")
                  img(src="/images/image.jpg")

      section(class='band--dark pv++' id="contact")
        div(class='wrapper wrapper--small')
          div(class='section-header mb++')
            h2(class='section-header__title') contacto
            p vamos a crear algo esxtraordinario juntos
          div(class='layout')
            div(class="layout__item palm-1/1 lap-and-up-1/2")
              div(class='band--highlight text--center p mb')
                h4 Trabajo
                p hemos preparado un simple planeador de proyectos para conocerte m,ejor a ti y atu proyecto.
                a(class='text--uppercase' href="/start-project")
                  div(class="btn btn--highlight") start a project


            div(class="layout__item palm-1/1 lap-and-up-1/2")
              div(class='band--light text--center p')
                h4 Jugar
                p hemos preparado un simple planeador de proyectos para conocerte m,ejor a ti y atu proyecto.
                a(href="mailto:info@madtec.es")
                  div(class="btn btn--highlight-dark") info@madtec.es

    include footer   
