nav(class='ui sidebar right band--dark')
  ul(class='list-block')
    li
      a(href="#services") servicios
    li
      a(href="#about") quienes somos
    li
      a(href="#cases") casos de estudio 
    li
      a(href="#contact") contacto
    li
      a(class='text--uppercase' href="/start-project")
        div(class='btn btn--highlight') start a project

  ul(class='list-inline')
    li
      a(href="#")
        span(class="fa fa-facebook-square fa-2x")
    li
      a(href="#")
        span(class="fa fa-facebook-square fa-2x")
    li
      a(href="#")
        span(class="fa fa-facebook-square fa-2x")
