include header
extends layout

block content

  include menu

  div(class='pusher band--full')
    +header(class='band--half band--highlight pv--')
      div(class='tagline tagline--half')
        h1(class='tagline__title') the most amazing company
        p in the middle of the night
    main
      section(class='pv++')
        div(class='wrapper')
          ul(class='layout layout--huge')
            li(class="layout__item lap-and-up-1/2 mb++")

              div(class='text--center lap-and-up-text--left')
                div(class='flag flag--responsive')
                  div(class='flag__img')
                    img(class='flag__image' src='/images/image.jpg')
                  div(class='flag__body')
                    div(class='text--highlight')
                      h3(class='text__title') analisis
                      p.last Negocio, Estrategia
                div(class='mt+')
                  p Estudiamos tu las necesidades de tu negocio y de los clientes para poder 
                    | entender el objetivo del proyecto.
            
                  p Creamos un plan de negocio y una estrategia ajustada a tus necesidades 
                    | basandonos en todos los datos obtenidos en la fase de estudio. 
                  
                  p(class='last') Creamos un prototipo visual para que toda esa informacion recopilada 
                  | quede plasmada de una manera clara y sencilla.  

            li(class="layout__item lap-and-up-1/2 mb++")

              div(class='text--center lap-and-up-text--left')
                div(class='flag flag--responsive')
                  div(class='flag__img')
                    img(class='flag__image' src='/images/image.jpg')
                  div(class='flag__body')
                    div(class='text--highlight')
                      h3(class='text__title') analisis
                      p.last Negocio, Estrategia
                div(class='mt+')
                  p Estudiamos tu las necesidades de tu negocio y de los clientes para poder 
                    | entender el objetivo del proyecto.
            
                  p Creamos un plan de negocio y una estrategia ajustada a tus necesidades 
                    | basandonos en todos los datos obtenidos en la fase de estudio. 
                  
                  p(class='last') Creamos un prototipo visual para que toda esa informacion recopilada 
                  | quede plasmada de una manera clara y sencilla.  

            li(class="layout__item lap-and-up-1/2 mb++")

              div(class='text--center lap-and-up-text--left')
                div(class='flag flag--responsive')
                  div(class='flag__img')
                    img(class='flag__image' src='/images/image.jpg')
                  div(class='flag__body')
                    div(class='text--highlight')
                      h3(class='text__title') analisis
                      p.last Negocio, Estrategia
                div(class='mt+')
                  p Estudiamos tu las necesidades de tu negocio y de los clientes para poder 
                    | entender el objetivo del proyecto.
            
                  p Creamos un plan de negocio y una estrategia ajustada a tus necesidades 
                    | basandonos en todos los datos obtenidos en la fase de estudio. 
                  
                  p(class='last') Creamos un prototipo visual para que toda esa informacion recopilada 
                  | quede plasmada de una manera clara y sencilla.  

            li(class="layout__item lap-and-up-1/2 mb++")

              div(class='text--center lap-and-up-text--left')
                div(class='flag flag--responsive')
                  div(class='flag__img')
                    img(class='flag__image' src='/images/image.jpg')
                  div(class='flag__body')
                    div(class='text--highlight')
                      h3(class='text__title') analisis
                      p.last Negocio, Estrategia
                div(class='mt+')
                  p Estudiamos tu las necesidades de tu negocio y de los clientes para poder 
                    | entender el objetivo del proyecto.
            
                  p Creamos un plan de negocio y una estrategia ajustada a tus necesidades 
                    | basandonos en todos los datos obtenidos en la fase de estudio. 
                  
                  p(class='last') Creamos un prototipo visual para que toda esa informacion recopilada 
                  | quede plasmada de una manera clara y sencilla.  

            li(class="layout__item lap-and-up-1/2")

              div(class='text--center lap-and-up-text--left')
                div(class='flag flag--responsive')
                  div(class='flag__img')
                    img(class='flag__image' src='/images/image.jpg')
                  div(class='flag__body')
                    div(class='text--highlight')
                      h3(class='text__title') analisis
                      p.last Negocio, Estrategia
                div(class='mt+')
                  p Estudiamos tu las necesidades de tu negocio y de los clientes para poder 
                    | entender el objetivo del proyecto.
            
                  p Creamos un plan de negocio y una estrategia ajustada a tus necesidades 
                    | basandonos en todos los datos obtenidos en la fase de estudio. 
                  
                  p(class='last') Creamos un prototipo visual para que toda esa informacion recopilada 
                  | quede plasmada de una manera clara y sencilla.  

    include footer
