extends layout

block content
  main
    section(class='pv++')
      div(class='wrapper')
        ul(class='layout')
          li(class="layout__item lap-and-up-1/2")
            
            div(class='flag flag--responsive')
              div(class='flag__img')
                img(class='flag__image' src='/images/image.jpg')
              div(class='flag__body')
                h3 analisis
                p Negocio, Estrategia

               
            div(class='mt+')
              p Estudiamos tu las necesidades de tu negocio y de los clientes para poder 
                | entender el objetivo del proyecto.
        
              p Creamos un plan de negocio y una estrategia ajustada a tus necesidades 
                | basandonos en todos los datos obtenidos en la fase de estudio. 
              
              p(class='last') Creamos un prototipo visual para que toda esa informacion recopilada 
                | quede plasmada de una manera clara y sencilla.  
