include header
extends layout
block content

  include menu

  div(class='pusher band--full')
    +header(class='band--half band--highlight pv--')
      
    main
      section(class='pv++')
        div(class='wrapper wrapper--small')
          div(class='section-header mb++ text--center')
            h2(class='section-header__title') empezar un proyecto
            p vamos a crear algo extraordinario juntos
          form(class="text--center")
            fieldset(class="pb+")
              legend datos de contacto
              div(class="pb")
                  input(type="text" placeholder="Nombre")
              div(class="pb")
                  input(type="email" placeholder="Email")
              div
                  input(type="text" placeholder="Compañia / Organizacion")
            
            fieldset(class="pb+")
              legend tipo de proyecto
              h3 tipo de proyecto
              div.field(class="palm-2/4 lap-and-up-1/4")
                input(type="checkbox" value="websites" id="option-website")
                label(for="option-website") websites
              div.field(class="palm-2/4 lap-and-up-1/4")
                input(type="checkbox" value="aplicaciones" id="option-apps")
                label(for="option-apps") aplicaciones
              div.field(class="palm-2/4 lap-and-up-1/4")
                input(type="checkbox" value="ecommerce" id="option-ecommerce")
                label(for="option-ecommerce") eCommerce
              div.field(class="palm-2/4 lap-and-up-1/4")
                input(type="checkbox" value="Websites" id="option-other")
                label(for="option-other") other
            
            fieldset(class="pb+")
              legend presupuesto
              h3 presupuesto
              p
                span un presupuesto transparente nos ayudara a asegurar
                  | que se cumplen las expectativas.
              input(type="range" min="800" max="30000")
            
            fieldset(class="pb+")
              legend sobre el proyecto
              div(class="pb+")
                h3 tiempo para realizarlo
                label(for="timeframe") hay una fecha limite o periodo de tiempo especifico para
                  | el proyecto?
                input(type="text" id="timeframe")
              
              div(class="pb+")
                h3 hablanos sobre tu proyecto
                label(for="about-project") describe el proyecto, necesidades y objectivos
                textarea(id="about-project" title="Cuentanos mas sobre tu proyecto")

              div(class="pb+")
                h3 archivos adjuntos
                label(for="project-attachments") sube cualquier imagen o documento que pueda ayudarnos a entender mejor 
                  | el proyecto
                input(type="file" id="project-attachments")
            
            fieldset(class='pb+')
              button(type='submit' class='btn btn--success text--uppercase') mandar proyecto


      include footer
