
@import 'bower_components/inuit-defaults/_settings.defaults';
@import 'bower_components/inuit-responsive-settings/_settings.responsive';
@import 'bower_components/inuit-functions/_tools.functions';
@import 'bower_components/inuit-responsive-tools/_tools.responsive';
//@import 'bower_components/inuit-normalize/_generic.normalize';
@import 'bower_components/inuit-box-sizing/_generic.box-sizing';

$inuit-enable-layout--middle: true;
$inuit-enable-layout--center: true;
$inuit-enable-layout--huge: true;
@import 'bower_components/inuit-layout/_objects.layout';
@import 'bower_components/inuit-block/_objects.block';
@import 'bower_components/inuit-media/_objects.media';
$inuit-enable-flag--huge: true;
$inuit-enable-flag--responsive: true;
.flag__image {
  width: 120px;
  margin: 0 auto;
}

@import 'bower_components/inuit-flag/_objects.flag';
@import 'bower_components/inuit-list-bare/_objects.list-bare';
@import 'bower_components/inuit-list-block/_objects.list-block';

.list-inline > li {
  padding: $inuit-base-spacing-unit;
}
@import 'bower_components/inuit-list-inline/_objects.list-inline';
@import 'bower_components/inuit-buttons/_objects.buttons';
@import 'bower_components/inuit-text-responsive/_objects.text-responsive';

//@import 'bower_components/inuit-flag/_objects.flag';
@import 'bower_components/inuit-widths/_trumps.widths';
@import 'bower_components/inuit-widths-responsive/_trumps.widths-responsive';
$inuit-enable-margins: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--huge: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--tiny: true;

$inuit-enable-paddings: true;
@import 'bower_components/inuit-spacing/_trumps.spacing';
$inuit-enable-responsive-margins: true;
$inuit-enable-responsive-paddings--none: true;
@import 'bower_components/inuit-spacing-responsive/_trumps.spacing-responsive';
@import 'bower_components/inuit-clearfix/_trumps.clearfix';



html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 100%;

  background-color: #FEFEFE;
  color: #333333;
}

body {
  margin: 0;
}

/**************************
 * FORM normalize
***************************/
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 1.5rem;
}

p { 
  margin-bottom: 1.5rem;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

hr {
  display: block;
  margin: 0;
  border: 0;
}

p:first-letter {
  text-transform: uppercase;
 
}

blockquote {
  font-size: 36px;
}

/**************************************************
 * HELPERS
 **************************************************/

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--left {
  text-align: left;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--highlight .text__title {
  text-transform: uppercase;
}

.text--highlight p {
  font-style: italic;
}

.last {
  margin-bottom: 0;
}

/**************************************************
 * LAYOUT
 **************************************************/


.front {
 
  position: relative; 

}

.front__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/images/front.jpg') no-repeat no-repeat center;
  background-size: cover;
}

.front__fg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/images/hero.svg') no-repeat no-repeat center;
  z-index: 100;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-left: 12px;
  padding-right: 12px;
}

.wrapper--small {
  max-width: 800px;
}

.band--light {
  background-color: #FEFEFE;
  color: #333333;
}

.band--highlight {
  background-color: #D9411E;
  color: #FEFEFE;
}

.band--dark {
  background-color: #333333;
  color: #FEFEFE;
}

.band--full {
  height: 100%;
}

.band--half {
  height: 50%;
}

.tagline {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translateY(-50%);
  z-index: 1000;
}
.tagline--half {
  top: 25%;
  transform: translateY(-25%);
}

/**************************************************
 * MODULE
 **************************************************/

.block__image {
  width: 120px;
}

.section-header {
  text-align: center;
}
  .section-header__title {
    font-size: 24px;
    text-transform: uppercase;
  }


.line {
  width: 30px;
  height: 4px;
  margin: 24px auto 18px auto;
}

.line--dark {
  background-color: #333333;
}

.line--light-red {
  background-color: #E05151;
}

.line--red {
  background-color: #D9411E;
}

.line--yellow {
  background-color: #FFD452;
}

.line--blue {
  background-color: #75A3D1;
}

.btn--highlight {
  color: inherit;
  background-color: transparent;
  border-color: #FEFEFE;
  border-radius: 4px;
  &:hover,
  &:active,
  &:focus {
    color: #333333;
    background-color: #FEFEFE;
  }

}
.btn--highlight-dark {
  color: inherit;
  background-color: transparent;
  border-color: #333333;
  border-radius: 4px;
  &:hover,
  &:active,
  &:focus {
    color: #FEFEFE;
    background-color: #333333;
  }

}
.btn--success {
  background-color: #1CB841; 
  border-radius: 4px;
  border: 0 none transparent;
  &:hover,
  &:active,
  &:focus {
    background-color: darken(#1CB841, 5%);
  }
}
.link--inline {
  color: #75A3D1;
}
/***********************************
 * FORM 
 ***********************************/
// This should be a independent component (object.form)
.start-project__form {
  display: inline-block;
}
fieldset {
  border:0;
}
fieldset h3 {
  text-transform: uppercase;
}
.field {
  display: inline-block;
}
input, select{
  //@include inuit-font-size(22px);
  @extend .p-;
  color: #333333;
  width: 100%;
  font-weight: 300;
  display:inline-block;
}
input[type="checkbox"] {
  width: auto;
}
label {
  display:inline-block;
}
textarea {
  //@include inuit-font-size(14px);
  @extend .p-;
  height: 12em; 
  width: 100%;
  color: #333333;
}
legend {
  display: none;
}
input.read-only {
  border: 0 none transparent;
  font-weight: 700;
  font-size: 21px;
}
.uploader {
  background: #dddddd;
}

/******************************
 * Validator styles
 ******************************/
input.field-success,
select.field-success,
textarea.field-success {
  //color: #468847;
  //background-color: #DFF0D8;
  border: 1px solid #19A239;
}

input.field-error,
select.field-error,
textarea.field-error {
  //color: #B94A48;
  //background-color: #F2DEDE;
  border: 1px solid #D9411E;
}

.error {
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  color: #D9411E;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.error.filled {
  opacity: 1;
}
