
@import 'bower_components/inuit-defaults/_settings.defaults';
@import 'bower_components/inuit-responsive-settings/_settings.responsive';
@import 'bower_components/inuit-functions/_tools.functions';
@import 'bower_components/inuit-responsive-tools/_tools.responsive';
//@import 'bower_components/inuit-normalize/_generic.normalize';
//@import 'bower_components/inuit-box-sizing/_generic.box-sizing';

$inuit-enable-layout--middle: true;
$inuit-enable-layout--center: true;
$inuit-enable-layout--huge: true;
@import 'bower_components/inuit-layout/_objects.layout';
@import 'bower_components/inuit-block/_objects.block';
@import 'bower_components/inuit-media/_objects.media';
$inuit-enable-flag--huge: true;
$inuit-enable-flag--responsive: true;
.flag__image {
  width: 120px;
  margin: 0 auto;
}

@import 'bower_components/inuit-flag/_objects.flag';
@import 'bower_components/inuit-list-bare/_objects.list-bare';
@import 'bower_components/inuit-list-block/_objects.list-block';

.list-inline > li {
  padding: $inuit-base-spacing-unit;
}
@import 'bower_components/inuit-list-inline/_objects.list-inline';
@import 'bower_components/inuit-buttons/_objects.buttons';
@import 'bower_components/inuit-text-responsive/_objects.text-responsive';

//@import 'bower_components/inuit-flag/_objects.flag';
@import 'bower_components/inuit-widths/_trumps.widths';
@import 'bower_components/inuit-widths-responsive/_trumps.widths-responsive';
$inuit-enable-margins: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--huge: true;
//$inuit-enable-paddings--small: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--tiny: true;

$inuit-enable-paddings: true;
@import 'bower_components/inuit-spacing/_trumps.spacing';
$inuit-enable-responsive-margins: true;
$inuit-enable-responsive-paddings--none: true;
@import 'bower_components/inuit-spacing-responsive/_trumps.spacing-responsive';
@import 'bower_components/inuit-clearfix/_trumps.clearfix';



html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 100%;

  background-color: #FEFEFE;
  color: #333333;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 1.5rem;
}

p { 
  margin-bottom: 1.5rem;
}


a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

hr {
  display: block;
  margin: 0;
  border: 0;
}

/**************************************************
 * HELPERS
 **************************************************/

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--highlight .text__title {
  text-transform: uppercase;
}

.text--highlight p {
  font-style: italic;
}

.last {
  margin-bottom: 0;
}

/**************************************************
 * LAYOUT
 **************************************************/

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-left: 12px;
  padding-right: 12px;
}

.wrapper--small {
  max-width: 800px;
}

.band--light {
  background-color: #FEFEFE;
  color: #333333;
}

.band--highlight {
  background-color: #D9411E;
  color: #FEFEFE;
}

.band--dark {
  background-color: #333333;
  color: #FEFEFE;
}

.band--full {
  height: 100%;
}

.band--half {
  height: 50%;
}

.tagline {
  position: absolute;

  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

/**************************************************
 * MODULE
 **************************************************/

.block__image {
  width: 120px;
}

.section-header {
  text-align: center;
}
  .section-header__title {
    font-size: 24px;
    text-transform: uppercase;
  }


.line {
  width: 30px;
  height: 4px;
  margin: 24px auto 18px auto;
}

.line--dark {
  background-color: #333333;
}

.line--light-red {
  background-color: #E05151;
}

.line--red {
  background-color: #D9411E;
}

.line--yellow {
  background-color: #FFD452;
}

.line--blue {
  background-color: #75A3D1;
}

.btn--highlight {
  color: inherit;
  background-color: transparent;
  border-color: #FEFEFE;
  border-radius: 4px;

}
.btn--highlight-dark {
  color: inherit;
  background-color: transparent;
  border-color: #333333;
  border-radius: 4px;

}
